client/node_modules
client/.vscode
client.env
client/.eslint.json
client/.gcloudignore
client/.gitignore
client/.git
client/clientAppEngine.yaml
client/README.md

server/node_modules
server/.vscode
server/.wwebjs_auth
server/.wwebjs_cache
server/.env
server/.eslintrc.json
server/.gcloudignore
server/.gitignore
server/.git
server/serverAppEngine.yaml

.dockerignore
docker-compose.yaml
Dockerfile
init.sql
trash.txt