client/.vscode
client/node_modules
client/.eslint.json
client/.env
client/.gcloudignore
client/.gitignore
client/clientAppEngine.yaml
client/README.md

server/.vscode
server/node_modules
server/.env
server/.eslintrc.json
server/.gcloudignore
server/.gitignore
server/serverAppEngine.yaml

.git
.gitignore
.dockerignore
docker-compose.yaml
Dockerfile
init.sql