.rbc-events-container {
  margin-right: 0 !important;
}

.rbc-background-event {
  background-color: #95d5b2 !important;
  border-color: #52b788 !important;
}

.rbc-event {
  padding-right: 20px !important;
}
